button#back {
    background-color: #e57373;
    border: none;
    /*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:21px;
	font-weight:200;*/
}

#middle-right {
    text-align: center;
}

#movie-description {
    text-align: center;
}

#history-img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 80%;
}

#headerDetail {
    background-color: #e57373;
}