/*button#back {
    background-color: #e57373;
    border: none;
    
}

#backbttn {
    background-color: white;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}*/

.backbtn {
    border: 5px solid black;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 30;
    background-color: rgba(255, 255, 255, .5);
    width: 20%;
    height: auto;
}

.container {
    padding-top: 50px;
}

#middle-right {
    text-align: center;
}

#movie-description {
    text-align: center;
}

#history-img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 80%;
}

#headerDetail {
    background-color: #e57373;
}